/* catalog.section */

/*
#3052bf
#26b0e4
#00a2df
*/

/* Slider */
.bx-blue .product-item-image-slider-progress-bar {
	background-color: #0083d1;
}

.bx-blue .product-item-image-slider-control:hover {
	background-color: rgba(0, 131, 209, .8);
}

.bx-blue .product-item-image-slider-control.active,
.bx-blue .product-item-image-slider-control:hover {
	background-color: #0083d1;
}

/* SCU */
.bx-blue .product-item-scu-item-text-block:hover,
.bx-blue .product-item-scu-item-color-block:hover,
.bx-blue .product-item-scu-item-text-container.selected .product-item-scu-item-text-block,
.bx-blue .product-item-scu-item-color-container.selected .product-item-scu-item-color-block {
	outline-color: #006cc0;
}

/* Amount */
.bx-blue .product-item-amount-field:focus {
	border-color: #006cc0;
}

.bx-blue .catalog-section-header {
	border-color: #006cc0;
}