#bascketCount {
	background: transparent;
	color: #fff;
	font-size: 24px;
	padding: 2px 0;
	height: 30px;
	width: 25px;
	display: inline-block;
}

#bascketCount small.cart-notification {
	color: hsl(0, 0%, 100%);
	height: 15px;
	line-height: 12px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 6px;
	width: 15px;
	font-size: 12px;
}

#AbascketCount {
	padding: 13px 0 17px;
	display: inline-block;
}

.hidden {
	display: none;
!important;
}