.bx-yellow.bx-top-nav .bx-top-nav-container {
	background: #F9A91D;
}

.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-hover > a,
.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-active > a,
.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl:hover > a {
	background: #faba4a;
	border-bottom: none;
}

.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent.bx-hover > a,
.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent:hover > a {
	color: #F9A91D;
	background-color: transparent;
}

/*2 lvl*/
.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-2-lvl > a.bx-active,
.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-2-lvl > a:hover {
	color: #F9A91D;
	background: #F0F0F0;
}

/*3 lvl*/
.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-3-lvl a.bx-active,
.bx-yellow.bx-top-nav .bx-top-nav-container .bx-nav-3-lvl a:hover {
	color: #F9A91D;
	background: #F0F0F0;
}
